/*Primary Colors:
#a11d1d - Red
*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, table, tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #a11d1d;
}
img{
    max-width: 100%;
    display: block;
}




/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}
header{
    top: 0;
    background-color: #a11d1d;
    height: 190px;
}
.pic-text-large {
    display: none;
}
header img {
    margin: 0 auto;
    position: absolute;
}

.productofweek {
    padding: 20px;
    background: #f9f9f9;
    margin: 30px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.pow {
    display: none;
}
.pow-mob {
    display: block;
}

.pow-img {
    width: 260px;
    border-radius: 8px;
    margin: 0 auto;
}

.pow-desc {
    max-width: 600px;
}

.price-tag {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.1em;
}

.training-table {
    width: 100%;
    border: 2px solid #611313;
    border-collapse: collapse;
    margin: 20px 0;
}
.training-declutter {
    display: none;
}

.training-table caption {
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px;
    color: #b30000;
}
.training-table th  {
    background-color: #b30000;
    color: white;
    padding: 12px;
    border: 1px solid #222;
}
.training-table tr:nth-child(odd) {
    background-color: #f7f7f7;
}
.training-table tr:hover {
    background-color: #ffe0e0;
}

.extra-info {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}



nav{
padding: 1%;
margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li{
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
}
nav li:first-child {
    border-top: none;
}

nav li a{
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mobile {
    display: block;
}

.tablet-desktop{
    display: none;
}
.tablet-desktop-frame{
    display: none;
}
.mainicon{
    padding: 5px;
    display: block;

}

figure img{
    size: 500 500;
}
main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab',serif;
}

.mobile h3 {
    text-shadow: 5px 5px 8px #ccc;
}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}
article img {
    margin: 0 auto;
}

article ul {
    margin-left: 10%;
}

.contactclick{
    text-decoration: none;
    color: #9c0000;
}

article:nth-of-type(2) {
    background-color: rgba(204,204,204,0.3);
}
.tel-link {
   background-color: #404040;
   padding: 2%;
   margin: 0 auto;
   width: 80%;
   text-align: center;
   border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.hours{
    margin-left: 10%;
}
.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
    text-shadow: 5px 5px 8px #ccc;
}
.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto;
}
.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.external-link {
color: #7a0808;
font-weight: bold;
text-decoration: none;
}
.map {
    display: none;
}
.round {
    border-radius: 8px;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}
#contact  {
    text-align: center;
}

#contact .contact-email-link {
    color: #5c0c0c;
    text-decoration: none;
}
.ulbasic {
    list-style: none;
    margin: 0 0;
    font-weight: bold;


}
.ulbasic li {

    padding: 0.25em 0 0 0;
}
.ulbasic li:first-child {
        font-size: 1.3em;
        padding: 0 0 0.5em 0;
}

#form {
    background-color: #a11d1d;
    color: #fff;
}

#form fieldset {
    width:100%;
    margin: 0 auto;
    margin-bottom: 2em;
    border: none;
}
/* Media Query for Tablet Viewport */
@media screen and (min-width:630px),print {

    
    
/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
    display: block;
}
.tablet-desktop-frame {
    display: block;
}
.mobile {
    display: none;
}
.tablet-desktop-frame {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.tablet-desktop-frame img {
  width: 100%;
  height: auto;
  display: block;
}

.pow {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.pow-img {
    margin: 0 0;
}
.pow-mob {
    display: none;
}

.training-declutter {

    display: block;
 
}


.pic-text-large {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  background: rgba(77, 9, 9, 0.75);
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; 
  padding: 0 1%;
  box-sizing: border-box;
  text-align: left;
  line-height: 1;
}

.pic-text-large span {
  font-size: clamp(3em, 8vw, 8em); /* Had to look this one up lol */
}

/* Tablet Viewport: Style rule for header */
header {
    padding-bottom: 2%;
}
/* Tablet Viewport: Style rules for nav area */
nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
}
nav li:last-child {
    border-right: none;
}
nav li a {
    padding: 0.1em 0.75em;
}
/* Tablet Viewport: Style rules for main content area */
main ul {
    margin: 0 0 4% 10%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.pic-text {
    font-size: 1em;
    padding: 10px;
}
.aside {
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    padding: 2%;
    background-color: rgba(204, 204, 204, 0.5);
    box-shadow: 5px 5px 8px #000;
    text-shadow: 5px 5px 5px #b3b3b3;
    border-radius: 0 15px;
}

.grid-item4 {
    grid-column: 1 / span 3;
}

.tel-num {
    font-size: 1.25em;
}

.map {
    display:inline-flex;
    width: 600px;
    height: 450px;
    border: 2px solid #000;
}

#form fieldset {
    width:70%;
    margin: 0 auto;
    border: 3px solid #fff;
}

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),print {
    /* Desktop Viewport: Style rule for header */
   header {
    width: 25%;
    float: left;
    padding-bottom: 0;
   } 
/* Desktop Viewport: Style rules for nav area */
nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
}

nav ul {
    text-align: right;
}

nav li {
    border: none;
}

nav li a {
    padding: 0.5em 1em;
}
nav li a:hover {
    color:#000;
    background-color: #fff;
}
/* Desktop Viewport: Style Rules for main content */
main {
    clear: left;
}
main h1 {
    font-size: 1.8em;
}
article h3 {
    font-size: 1.75em;
}

.pic-text {
    font-size: 1.5em;
    padding: 20px;
}

.frame {
    opacity: 0.9;
}

.frame:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
}
}
/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}
/* Media Query for Print */
@media print {

    body{
        background-color: #fff;
        color: #000;
    }
}